@using iTunesSearchEngine.Models
@model iTunesSearchEngine.Models.SearchBar

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iTunes API Searcher</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*Search logic in the Shared layout page so that people can do multiple searches*@
    <div class="container body-content">
        <div>
            <h1>iTunes API Searcher</h1>
            <p class="lead">See it and other projects at my Github</p>
            <p><a class="btn btn-primary" href="https://github.com/ArmaVerus">GitHub</a></p>
        </div>

        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <p>
                Search: @Html.TextBoxFor(m => m.SearchQuery)
                Type: @Html.DropDownListFor(m => m.SearchCategory,
          new SelectList(Enum.GetValues(typeof(Category))),
          "Select Type"
          )
                <input type="submit" value="Search" id="btnSubmit" class="btn btn-primary" />
            </p>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - iTunes API Search Catalogue</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
